body {
  margin: 0px;
}

* {
  justify-self: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(10, 10vh);
  background-color: azure;
}

.banner {
  grid-column: 1/6;
  grid-row: 1/1;
  align-self: center;
}

.title {
  grid-column: 1/6;
  grid-row: 3/4;
}
.intro {
  grid-column: 1/6;
  grid-row: 4/5;
}

.table {
  grid-column: 1/6;
  grid-row: 6/7;
  align-self: center;
}

.edit {
  grid-column: 1/6;
  grid-row: 8/9;
}

.tablecontainer {
  grid-column: 1/6;
  grid-row: 5/7;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 5vh 5vh;
}

.tabledescription {
  grid-column: 1/5;
  grid-row: 1/1;
}
