body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(10, 10vh);
  background-color: azure;
}

.banner {
  grid-column: 1/6;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
}

.title {
  grid-column: 1/6;
  grid-row: 3/4;
  justify-self: center;
}
.intro {
  grid-column: 1/6;
  grid-row: 4/5;
  justify-self: center;
}

.tabledescription {
  grid-column: 1/6;
  grid-row: 5/6;
  justify-self: center;
  align-self: flex-end;
}

.table {
  grid-column: 1/6;
  grid-row: 6/7;
  justify-self: center;
  align-self: center;
}

.edit {
  grid-column: 1/6;
  grid-row: 8/9;
  justify-self: center;
}
